.cartGrid {
    display: flex;
    flex-direction: column;
}

.cartRow {
    display: flex;
    justify-content: space-around;
}

.cartRow:hover {
    background-color: #c3d8fa;
    cursor: pointer;
}

.total {
    text-align: right;
    font-weight: 700;
    margin-right: 11em;
}