html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
h1 {
  margin-top: 1rem;
}
header {
  background-color: #c3d8fa;
  border-bottom: 1px solid #e06771;
}

header .logo {
  max-width: 20em;
  margin: auto;
  padding-top: 1em;
}
header nav {
  overflow: hidden;
  display: flex;

}

header nav a {
  text-align: center;
  color: #4a4a4a;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 17px;
}

header nav a:hover {
  background-color: #e06771;
  color: black;
}

header nav a:active {
  background-color: #6095eb;
  color: white;
}

header input[type="text"] {
  float: right;
  padding: 0.4rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border: none;
  font-size: 17px;
  border-radius: 1rem;
}

@media screen and (max-width: 700px) {
  header nav a,
  header nav input[type="text"] {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-radius: 0rem;
  }
}
#productList {
  display: flex;
  flex-wrap: wrap;
}
#productItem {
  flex: 25%;
  position: relative;
  margin: 0 1em;
  list-style-type: none;
}
#productItem span {
  position: absolute;
  bottom: 0;
}
#productH1 {
  text-align: center;
}
#loginButton{
  background-color: transparent;
  color: #4a4a4a;
  width: 6em;
  height: 3.2em;
  border: none;
  font-size: 17px;
}
#loginButton:hover{
  background-color: #e06771;
  color: black;
}
#footer {
  border-top: 1px solid #e06771;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  text-align: center;
  padding-top: 0.8em;
  background-color: #c3d8fa;
}
